<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <link href='/style.css' rel='stylesheet'>
</head>
<body>

<h1 class='title'>Bookmarks</h1>

<div class='nav'>
  <a href='/'>New</a> | <a href='/hot'>Hot</a>
</div>

<%= yield %>

</body>
</html>