body {
  font-family: arial,sans-serif;
  color: #222; 
}

form { display: inline; }

a {
  text-decoration: none;
  color: #12C;
}


h1.title { text-align: center;
           margin-bottom: 5px;
          }

.nav { text-align: center;
       margin-bottom: 20px; }

  
#links .points {
  font-size: 80%;
  padding-left: 25px;
  padding-right: 10px;
}  

#links .title {
 font-size: 120%;
 font-weight:  bold;
 padding-left: 30px;
}

#links .host,
#links .created-at {
 font-size: 80%;
 color: grey;
}

#post-link {
  margin-top: 25px;
}  